/* Generalized */

.margin-0 {
    margin: 0 !important;
}

.margin-B5px {
    margin: 0 !important;
    margin-bottom: 5px !important;
}

.padding-0, 
.padding-T5px, 
.padding-B5px, 
.padding-L5px, 
.padding-R5px {
    padding: 0 !important;
}

.padding-A5px {
    padding: 5px !important;
}

.padding-T5px {
    padding-top: 5px !important;
}

.padding-B5px {
    padding-bottom: 5px !important;
}

.selfCenter {
    align-self: center !important;
}

/* Specific */

::-webkit-scrollbar {
    display: none;
}

.scrollHide {
    overflow-y: scroll;
    /* border: 1px solid red; */
}

.topBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.cardImg {
    height: 62px !important;
    width: 83px !important;
    background-color: black;
    /* border: 1px solid red; */
    display: flex;
}

.noCardText {
    /* height: 100%; */
    /* border: 1px solid red; */
    text-align: center;
    color: gray;
    vertical-align: middle;
}

.iconImg {
    height: 62px !important;
    width: 84px !important;
    /* width: auto; */
    height: fit-content;
    background: rgba(0, 0, 0, 0.73);
}

.hoverHide {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    /* border: 1px solid red; */
}

.hoverCtrl:hover + .hoverHide, .hoverHide:hover {
    display: block;
    color: white;
    /* backface-visibility: hidden; */
}

/* Not sorted */