.row{
    /* padding-top: 0 !important; */
    /* margin-bottom: 5px !important; */
    /* margin: 0 !important; */
    /* border: 1px solid blue; */
}

.scrollHide {
    overflow-y: scroll;
    /* border: 1px solid red; */
}

::-webkit-scrollbar {
    display: none;
}

.topBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.cardImg {
    height: auto !important;
    position: absolute;
    display: flex;
}

.hoverHide {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    /* border: 1px solid red; */
}

.hoverCtrl:hover + .hoverHide, .hoverHide:hover {
    display: block;
    color: white;
    /* backface-visibility: hidden; */
}